.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid rgb(var(--foreground-rgb));
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.07s ease;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999;
  background-color: rgb(var(--foreground-rgb)) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(var(--background-start-rgb));
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .cursor {
    width: 0;
    height: 0;
    display: none;
  }
}

@media only screen and (orientation: landscape) and (max-width: 900px) {
  .cursor {
    width: 0;
    height: 0;
    display: none !important;
  }
}
