.cursor {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid rgb(var(--foreground-rgb));
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.1s ease;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999;
  display:flex;
  align-items:center;
  justify-content: center;
  font-size:14px !important;
  color:rgb(var(--background-start-rgb));
  white-space:nowrap;
}

@media screen and (max-width: 767px) {
  .cursor {
    width: 0;
    height: 0;
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .cursor {
    width: 0;
    height: 0;
    display: none;
  }
}