.nameContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: var(--padding-left);
  padding-top: 24px;
}

@media screen and (max-width: 600px) {
  .nameContainer {
    position: unset;
    padding-left: 48px;
    padding-bottom: 24px;
    padding-top: 0px;
    gap: 24px !important;
    justify-content: start;
    align-items: start;
    left: 0%;
    order: 1;
  }
  .box {
    flex-direction: column;
  }
}
.h1 {
  margin-bottom: 12px;
}
.box {
  display: flex;
  gap: 48px;
  align-items: flex-end;
}
@media screen and (max-width: 600px) {
  .box {
    gap: 24px;
    align-items: start;
  }
}
.innerBox {
  display: flex;
  flex-direction: column;
}
