.copyright {
  margin-top: 40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.copyrightInner {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}
