.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 12px 12px 0px;
}

@keyframes leaves {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.sun {
  position: absolute;
  right: 36px;
  top: 36px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.5s ease;
  animation: leaves 1s ease-in-out alternate;
}
@media screen and (max-width: 600px) {
  .sun {
    right: 24px;
    top: 28px;
    width: 28px;
    height: 28px;
  }
}
.sun line {
  stroke-dashoffset: 80;
  stroke-dasharray: 80;
}

.line {
  stroke-dasharray: 0 !important;
}

.sunDark {
  stroke: #fff !important;
}
.sun:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
