.slugContainer {
  height: 81%;
  display: flex;
  flex-direction: column;
}

.slug {
  min-height: 100vh;
  max-height: 100%;
}

.slugContainerInner {
  display: flex;
  flex-direction: column;
  min-height: 83.8vh;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 128px;
  text-align: center;
}

.slugContainer h1 {
  font-size: 12rem;
  font-weight: 400;
}

.fadedP {
  font-size: 1.2rem;
  opacity: 0.5;
}

.nameContainer {
  margin-top: auto;
}

.nameContainer > div {
  text-align: left;
}

.navMobile nav {
  display: none;
}

.loader {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0vh;
  transform-origin: bottom;
  background-color: rgb(7, 7, 7);
  z-index: 5;
}

.loader2 {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0vh;
  transform-origin: bottom;
  background-color: rgb(222, 222, 222);
  z-index: 4;
}

.showcaseContainer {
  padding: 112px var(--padding-left);
  padding-top: 24px;
  justify-content: flex-start;
  width: 100%;
  max-width: 900px;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .showcaseContainer {
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .navMobile nav {
    display: block;
    margin-left: 24px;
  }
  .slugContainerInner {
    padding-top: 32px;
    padding-left: 48px;
    text-align: left;
    justify-content: start;
  }
  .slugContainer h1 {
    font-size: 6rem;
    text-align: left;
  }
  .nameContainer {
    margin-top: 0px;
  }
  .nameContainer > div {
    padding-left: 0px;
    margin-top: 12px;
  }
  .showcaseContainer {
    padding: 24px;
  }
  .cta {
    order: 2;
  }
}

.showcaseContainer p {
  max-width: 800px;
}

.showcaseContainer img {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
}

.img {
  width: 600px;
  height: 100%;
}
