.copyright {
  position: absolute;
  right: 0%;
  top: auto;
  bottom: 10vh;
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyrightInner {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.navLine {
  width: 1px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 12px;
  background-color: rgb(var(--foreground-rgb));
  transform: rotate(90deg);
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .navLine {
    display: none;
  }
  .copyright {
    right: -12px;
    bottom: 34px;
    margin-bottom: 0px;
  }
}
