.copyright {
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyrightInner {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.navLine {
  width: 1px;
  background-color: rgb(var(--foreground-rgb));
  transform: rotate(90deg);
  margin-right: 40px;
  height:0px;
}

@media screen and (max-width: 767px) {
  .navLine {
    display: none;
  }
  .copyright {
    position:absolute;
    right: -12px;
    bottom: 34px;
    margin-bottom: 0px;
  }
}
