.portfolioContainer {
  margin-top: 12px;
}

.projectsContainer {
  padding: 112px var(--padding-left);
}

.textContainer {
  margin-top: 12px;
  padding: 4px 8px;
}

.textContainer h1 {
  color: rgb(var(--foreground-rgb));
  margin-top: 4px;
}

.textContainer p {
  color: rgb(var(--foreground-rgb));
  font-size: 1.2rem;
}

.textContainer lead {
  color: rgb(var(--foreground-rgb), 0.9);
}

.pSeparator {
  margin-bottom: 12px !important;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

.lead {
  color: rgb(var(--foreground-rgb), 0.9);
}

.imgCover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 6px;
  box-shadow: 3px 19px 35px rgb(0 0 0 / 10%);
  position: relative;
}

.pill {
  border: 1px solid white;
  display: inline;
  padding: 4px 8px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  position: absolute;
  top: 12px;
  right: 12px;
}

.img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
}

.framework {
  margin-right: 4px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: 0.5s ease;
  left: 0;
}

.link:hover .overlay:hover {
  background: none;
}

.h1 {
  font-weight: 400;
  margin-bottom: 0px;
  padding-left: 0px;
  font-size: 6rem;
}

.h2 {
  font-weight: 400;
  margin-bottom: 4px;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .h1 {
    font-size: 6vw;
  }
  .projectsContainer {
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .projectsContainer {
    padding: 24px;
  }
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 9vw !important;
  }
}
