.portfolioContainer {
  position: relative;
  max-height: 400px;
}
.textContainer {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.textContainer h1 {
  color: rgb(var(--foreground-rgb));
  margin-top: 6px;
  font-size: 2.2rem;
}
.textContainer p {
  color: rgb(var(--foreground-rgb));
  margin-bottom: 0px;
}
.textContainer lead {
  color: rgb(var(--foreground-rgb));
  font-size: 1.6rem;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.h1 {
  font-size: 64px;
}
