.main {
  overflow: hidden;
}

.navAndNameContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  padding-bottom: 12px;
}

@media screen and (max-width: 600px) {
  .main {
    padding-top: 32px;
  }
  .navAndNameContainer {
    justify-content: start;
  }
}
