.main {
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
}

@media screen and (max-width: 600px) {
  .mainContainer {
    gap: 10px;
    justify-content: start;
  }
}
