.main {
  overflow: hidden;
}

.navAndNameContainer {
  display: flex;
  flex-direction: column;
  min-height: 83.8vh;
  justify-content: space-between;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .navAndNameContainer {
    justify-content: start;
    padding-top: 32px;
  }
}
